@model NS.STMS.MVC.Models.ComponentModels.HtmlElementCompenents.InputDivComponentModel

<style>
	.form-floating > .form-control {
		padding-top: 1.2rem;
		padding-bottom: 0rem;
		height: 45px;
		font-size: 14px;
	}

	.form-floating > .floating-input-lbl {
		padding: 0.75rem .6rem;
		font-size: 14px;
		color: #A5A9AD;
	}

</style>

<div class="col-lg-2 col-md-6 col-sm-12">

	<div class="form-floating">
		<input id="@Model.Id" type="@Model.Type" class="form-control" maxlength="@Model.MaxLength" autocomplete="off">
		<label class="floating-input-lbl" for="@Model.Id">@Model._key</label>
		<p id="@Model.ErrorId" class="inputErrorDesc"></p>
	</div>

</div>

<script>

	//document ready
	$(function () {

		var inputId = "@Model.Id";
		var value = "@Model._value";
		var disabled = "@Model.Disabled";

		setInputVal(inputId, value);

		if (disabled == "True") {
			setInputDisabled(inputId);
		}
	});

</script>
