@model NS.STMS.MVC.Models.ComponentModels.HtmlElementCompenents.ListPageDropDownDivComponentModel

<style>
	.arrow-list-filter {
		position: absolute;
		top: 33px;
		right: 20px;
	}
</style>

<div class="col-lg-2 col-md-6 col-sm-12">
	<label>@Model._key</label>
	<select id="@Model.Id"
			style="padding: 0.1rem 0.75rem; padding-top: 0.2rem; font-size: 13px;"
			class="custom-select"
			onchange="@Model.OnChange"
			autocomplete="off">
	</select>
	<i id="@Model.Id-icon" class="sprite sprite-arrow-down arrow-list-filter"></i>
	<p id="@Model.ErrorId" class="inputErrorDesc"></p>
</div>

<script>

	//document ready
	$(function () {

		var options = @Html.Raw(Json.Serialize(Model.Options));

		var inputId = "@Model.Id";
		var value = "@Model._value";
		var disabled = "@Model.Disabled";
		var iconId = "@Model.Id-icon"

		setDropDownOptions(options, inputId);

		if (value === "" || value === 0 || value === "0" || value == null) {
			value = "null";
		}

		$('#' + inputId).val(value);

		if (disabled == "True") {
			$('#' + inputId).prop("disabled", true);
			$('#' + iconId).css("display", "none");

		}
	});

</script>
